


<p><b>Contact us page</b></p>

<!-- <div class="row contact">
    <div class="col-sm-4  col-12">
          <form name="myForm">
           <input  class="form-control" name="myInput" ng-model="myInput" >
            <input type="text" class="form-control" ng-model="phone">
            <input type="text" class="form-control" ng-model="fullname">
            <button  type="button" class="btn btn-primary"  ng-click="reset()">Submit</button>
            </form> 
    </div>
</div> -->

<div class="row contact">
    <div class="col-sm-4  col-12">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName"><br/>
    Phone Number:<br>
    <input type="text" ng-model="user.phoneNumber"><br>
    Leave a message:<br>
    <textarea type="text" ng-model="user.message"></textarea>
    <br><br>
    <button  type="button" class="btn btn-primary" ng-click="reset()">RESET</button>
  </form>
</div></div>



